
{% include "admin_panel/header.html" %}
<div id="userPage"></div>
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-header card">
          <div class="row align-items-end">
            <div class="col-sm-6 col-lg-6">
              <div class="page-header-title d-flex">
                <i class="ti-user bg-c-green"></i>
                <div class="d-inline">
                  <h4>Category Management</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6"> 
              <div class="page-header-breadcrumb">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a href="dashboard.php">
                        <i class="icofont icofont-home"></i>
                      </a> 
                    </li>
                    <li class="breadcrumb-item"><a href="#">Category Management</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="card">
            <div class="card-block">
              <div class="dt-plugin-buttons"></div>
              <div class="row mb-3">
                <div class="col-md-3">
                       <div class="form-group">
                          <button class="btn btn-md btn-info" onclick="window.location.href='add_category'" type="button"><i class="fa fa-user-plus"></i> Add New</button>
                      </div>
                 </div> 
              </div>

               <!--  <div class="row mb-4">
                  <div class="col-md-3">
                     <select class="form-control">
                        <option>none</option>
                        <option>City</option>
                     </select>
                   </div> 
                </div>   -->
              <div class="dt-responsive table-responsive">
                <table id="user-list" class="table table-striped table-bordered nowrap m-0">
                  <thead>
                    <tr>
                      <th class="no-sort wpx-60">S.No</th>
                      <th>Categroy Name</th>
                      <th class="wpx-140 no-sort">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for i in form %}
                    <tr>           
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      <td>
                          <div class="d-flex">
                               <button onclick="window.location.href='/edit_category/{{i.id}}'" class="btn btn-sm btn-info"><i class="ti-pencil"></i></button>
                              <!-- <button data-toggle="modal" data-target="#unblock-modal" class="btn btn-sm btn-success"><i class="ti-na"></i></button>
                              <button data-toggle="modal" data-target="#block-modal" class="btn btn-sm btn-warning"><i class="ti-na"></i></button>
                               <button data-toggle="modal" data-target="#unblock-modal" class="btn btn-sm btn-success"><i class="ti-na"></i></button>-->
                              <button data-toggle="modal"  data-target="#delete-modal" class="btn btn-sm btn-danger"><i class="ti-trash"></i></button> 
                          </div>  
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% include "admin_panel/footer.html" %}
<script type="text/javascript">
  $('#user-list').DataTable({
    columnDefs: [
      { targets: 'no-sort', orderable: false }
    ]
  });
</script>
<!-- block modal -->
<div id="block-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-warning fs-34 d-inline-block fa fa-ban mb-4"></i>
      <h6>Are you sure you want to block?</h6>
      <hr />
      <div class="m-t-15">
        <button type="button" class="btn btn-sm btn-success mr-1" data-target="#block-sccess-modal" data-toggle="modal" data-dismiss="modal">Block</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- unblock modal -->
<div id="unblock-modal" class="modal fade" role="dialog">

  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-success fs-34 d-inline-block fa fa-ban mb-4"></i>
      <h6>Are you sure you want to unblock? </h6>
      <hr />
      <div class="m-t-15">
        <button type="button" class="btn btn-sm btn-success mr-1" data-target="#unblock-sccess-modal" data-toggle="modal" data-dismiss="modal">Unblock</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- delete block -->
{% for j in form %}
<div id="delete-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-danger fs-34 d-inline-block ti-trash mb-4"></i>  
      <h6>Are you sure you want to delete?</h6>
      <hr />
      <div class="m-t-15">
        <button type="submit" onclick="window.location.href='/delete/{{j.id}}'" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
      
    </div>
  </div>
  </div>
  {% endfor %}
<!-- success modal -->
<div id="block-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-warning fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Block Successfully</h6>
    </div>
  </div>
</div>
<!-- success modal -->
<div id="unblock-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-success fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Unblock Successfully</h6>
    </div>
  </div>
</div>
<!-- success modal -->
<div id="delete-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-danger fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Delete Successfully</h6>
    </div>
  </div>
</div>
<div id="add" class="modal fade" role="dialog" data-modal="dismiss">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
              <button  class="close cross-close" data-dismiss="modal" type="button">
                <!-- <img src="assets/images/icon/letter_x.png" width="12px"> -->
                <span aria-hidden="true">×</span>
              </button>
              <form>
                   <h5 class="mb-4 fw-600">Add Category</h5>
                   <div class="form-group">
                        <label>Enter Category Name</label>
                        <input type="text" class="form-control" name="">
                   </div> 
                   <div class="m-t-15 text-center">
                      <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Save</button>
                    </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="edit" class="modal fade" role="dialog" data-modal="dismiss">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
              <button  class="close cross-close" data-dismiss="modal" type="button">
                <!-- <img src="assets/images/icon/letter_x.png" width="12px"> -->
                <span aria-hidden="true">×</span>
              </button>
              <form>
                   <h5 class="mb-4 fw-600">Edit Category</h5>
                   <div class="form-group">
                        <label>Enter Category Name</label>
                        <input type="text" class="form-control" name="">
                   </div> 
                   <div class="m-t-15 text-center">
                      <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Save</button>
                    </div>
              </form>
          </div>
      </div>
  </div>
</div>
