
{% include "admin_panel/header.html" %}
<div id="userPage"></div>
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-header card">
          <div class="row align-items-end">
            <div class="col-sm-6 col-lg-6">
              <div class="page-header-title d-flex">
                <i class="ti-user bg-c-green"></i>
                <div class="d-inline">
                  <h4>User Management</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="page-header-breadcrumb">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a href="dashboard.php">
                        <i class="icofont icofont-home"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">user Management</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="card">
            <div class="card-block">
              <div class="dt-plugin-buttons"></div>
              <!-- <div class="mb-4 m-b-15 topForm">
                <label class="d-flex text-dark pull-left mr-3">
                  From <input type="text" class="form-control ml-2 mr-2 wpx85" autocomplete="off" id="start_date"><i class="fa fa-calendar mt-1"></i>
                </label>
                <label class="d-flex text-dark pull-left ml-2 mr-3">
                  To <input type="text" class="form-control ml-2 mr-2 wpx85" autocomplete="off" id="end_date"><i class="fa fa-calendar mt-1"></i>
                </label>
              </div> -->
              <div class="dt-responsive table-responsive">
                <table id="user-list" class="table table-striped table-bordered nowrap m-0">
                  <thead>
                    <tr>
                      <th class="no-sort wpx-60">S.No</th>
                      <th>User's Name</th>
                      <th>Profile Image</th>
                      <th>Email ID</th>
                      <th>Contact Number</th>
                      <th>City Name</th>
                      <th>status</th>
                      <th class="wpx-140 no-sort">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
              
                {% for i in customer %}
                      <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      <td><img src="{{i.profile_pic.url}}"  width="30px;" class="img-radius mr-2" alt="User-Profile-Image"></td>
                      <td>{{i.email}}</td>
                      <td>{{i.phone}}</td>
                      <td>{{i.region}}</td>                  
                       {% if user.is_active %}
                        <td>Active</td>
                        {% else %}
                      <td>Inactive</td>
                      {% endif %}            
                      <td>
                        <button data-toggle="modal" data-target="#view-model" class="btn btn-sm btn-info"><i class="ti-eye"></i></button>
                        <button data-toggle="modal" data-target="#block-modal" class="btn btn-sm btn-warning"><i class="ti-na"></i></button>
                        <button data-toggle="modal" data-target="#unblock-modal" class="btn btn-sm btn-success"><i class="ti-na"></i></button>
                        <button  data-toggle="modal" data-target="#delete-modal" class="btn btn-sm btn-danger"><i class="ti-trash"></i></button> 
                      
                      </td>
                    </tr>
                    
                  {% endfor %}
    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% include "admin_panel/footer.html" %}
<script type="text/javascript">
  $('#user-list').DataTable({
    columnDefs: [
      { targets: 'no-sort', orderable: false }
    ]
  });
</script>
<!-- block modal -->
<div id="block-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-warning fs-34 d-inline-block fa fa-ban mb-4"></i>
      <h6>Are you sure you want to block this user?</h6>
      <hr />
      <div class="m-t-15">
        <button type="button" onclick="window.location.href='blockuser'" class="btn btn-sm btn-success mr-1" data-target="#block-sccess-modal" data-toggle="modal" data-dismiss="modal">Block</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- unblock modal -->
<div id="unblock-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-success fs-34 d-inline-block fa fa-ban mb-4"></i>
      <h6>Are you sure you want to unblock this user? </h6>
      <hr />
      <div class="m-t-15">
        <button type="button" onclick="window.location.href='unblockuser'" class="btn btn-sm btn-success mr-1" data-target="#unblock-sccess-modal" data-toggle="modal" data-dismiss="modal">Unblock</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- delete block -->
{% for j in form %}
<div id="delete-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <i class="text-danger fs-34 d-inline-block ti-trash mb-4"></i>
      <h6>Are you sure you want to delete this user?</h6>
      <hr />
      <div class="m-t-15">
        <button type="button" onclick="window.location.href='/delete1/{{j.id}}'" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- success modal -->
<div id="block-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-warning fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Block Successfully</h6>
    </div>
  </div>
</div>
<!-- success modal -->
<div id="unblock-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-success fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Unblock Successfully</h6>
    </div>
  </div>
</div>
<!-- success modal -->
<div id="delete-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <i class="text-danger fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
      <h6>Delete Successfully</h6>
    </div>
  </div>
</div>
{% for i  in customer %}
<div id="view-model" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button> 
        <div class="row">
          <div class="col-md-12">
            <div class="text-center m-b-15">
              <img src="{{i.profile_pic.url}}" class="img-radius w-auto m-b-15 hpx80">
              <h5>{{i.name}}</h5>
            </div>
          </div>
          <div class="col-md-6">
            <label>Email Id</label>
            <p>{{i.email}}</p>
          </div>
          <div class="col-md-6">
            <label>Contact Number</label>
            <p>{{i.phone}}</p>
          </div>
          <div class="col-md-6">
            <label>City</label>
            <p>{{i.region}}</p>
          </div> 
          <div class="col-md-6">
            <label>Total Orders</label>
            <p>50</p>
          </div>
          {% endfor %}
          <div class="col-md-12 text-center">
            <button class="btn btn-md btn-danger" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>  
